/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 12, 2022, 8:27:13 PM
    Author     : LamHung
*/
h1{
    text-align: center;
    color: blue;
}

#outer{
    width:100%;
    text-align: center;
}

.inner
{
    display: inline-block;
}
.conner{
    position:absolute;
    top:5%;
    right:0%;
}

.center{
    margin-left: auto;
    margin-right: auto;
}

